.down {
  color: red;
}

.up {
  color: green;
}

.table td:last-child img {
  width: 25px;
}

.table td:last-child img:hover {
  cursor: pointer;
}

.modal-title {
  display: flex;
  align-items: center;
}

.modal-title img {
  margin-right: .5em;
}

.modal-body {
  display: flex;
  flex-direction: column;
}

.price {
  text-align: center;
  font-size: 4em;
  font-weight: bold;
}

.change {
  text-align: center;
  font-size: .7em;
  font-style: italic;
  margin-bottom: .7em;
}

.testclass {
  color: red;
}